<footer class="page__footer">
  <div class="page__footer-follow">
    <ul class="social-icons">
      <li><a href="/contact/"><i class="fas fa-fw fa-envelope"></i> Contact</a></li>
      <li><a href="https://github.com/samplesservices"><i class="fab fa-fw fa-github"></i> GitHub</a></li>
      <li><a href="https://linkedin.com/in/yourprofile"><i class="fab fa-fw fa-linkedin"></i> LinkedIn</a></li>
    </ul>
  </div>

  <div class="page__footer-copyright">
    &copy; 2025 Sample365 Services.
  </div>
</footer>
